.initialNew{
    animation-name: colorChange;
    animation-duration: 25s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes colorChange {
    0% {
        background: rgb(29, 29, 29);    
    }
    15% {
        background: rgb(148, 32, 17);    
    }
    25% {
        background: rgb(168, 96, 13);    
    }
    37.5% {
        background: rgb(172, 148, 16);    
    }
    50% {
    background: rgb(30, 150, 14);      
    }
    62.5% {
        background:rgb(138, 13, 76);    
    }
    80%{
background-color: rgb(180, 22, 180);
    }
    100%{
background-color: rgb(34, 34, 34);
    }
}